body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
    width:170px;
    height:200px;
    margin: 30px;
}
.para{
    font-size: 22px;

}
.write{
    margin: 30px 10px 10px 10px;
    /* margin: 10px 20px;
    10px is for top&bottom and 20px is for right&left */
    font-size: medium;
    text-align: center;
}
.background{
    background-color: #ddebf8;
    width: 550px;
    height: 250px;
    margin: 30px auto;
    display: flex;
    justify-content: left;
    padding: 10px;
    border-bottom: solid #d8cefe 6px;
}
